In [1]:
import pandas as pd

# Load the preprocessed dataset
train_df = pd.read_csv(r"E:\Study Data MS Data Scince\ML(Machine Learning)\Exercise 3\Machine_Learning-main\Datasets\KDD_train.csv")
test_df = pd.read_csv(r"E:\Study Data MS Data Scince\ML(Machine Learning)\Exercise 3\Machine_Learning-main\Datasets\KDD_test.csv")

# Display first few rows
print("Training Data:")
display(train_df.head())

print("Testing Data:")
display(test_df.head())

# Check dataset info
print("\nDataset Information:")
train_df.info()

Training Data:

,age,class_of_worker,industry_code,occup_code,marital_stat,race,hispanic,sex,full_or_part_time,cap_gain,...,fam_members_under18,birth_country_mother,citizenship,own_business,questionnaire,vet_benefits,weeks_per_year,wage_per_hour,income,education
0,73,Not in universe,0,0,Widowed,White,All other,Female,Not in labor force,0,...,Not in universe,United-States,Native- Born in the United States,0,Not in universe,2,0,0,-50000,High school graduate
1,48,Private,40,10,Married-civilian spouse present,Amer Indian Aleut or Eskimo,All other,Female,Full-time schedules,0,...,Not in universe,United-States,Native- Born in the United States,2,Not in universe,2,52,1200,-50000,Some college but no degree
2,42,Private,34,3,Married-civilian spouse present,White,All other,Male,Children or Armed Forces,5178,...,Not in universe,United-States,Native- Born in the United States,0,Not in universe,2,52,0,-50000,Bachelors degree
3,47,Local government,43,26,Married-civilian spouse present,White,All other,Female,Full-time schedules,0,...,Not in universe,United-States,Native- Born in the United States,0,Not in universe,2,52,876,-50000,Some college but no degree
4,34,Private,4,37,Married-civilian spouse present,White,All other,Male,Children or Armed Forces,0,...,Not in universe,United-States,Native- Born in the United States,0,Not in universe,2,52,0,-50000,Some college but no degree

Testing Data:

,age,class_of_worker,industry_code,occup_code,marital_stat,race,hispanic,sex,full_or_part_time,cap_gain,...,fam_members_under18,birth_country_mother,citizenship,own_business,questionnaire,vet_benefits,weeks_per_year,wage_per_hour,income,education
0,58,Self-employed-not incorporated,4,34,Divorced,White,All other,Male,Children or Armed Forces,0,...,Not in universe,United-States,Native- Born in the United States,0,Not in universe,2,52,0,-50000,Some college but no degree
1,28,Private,4,40,Never married,White,All other,Female,Unemployed full-time,0,...,Not in universe,United-States,Native- Born in the United States,0,Not in universe,2,30,0,-50000,High school graduate
2,46,Private,37,31,Divorced,White,Central or South American,Female,Children or Armed Forces,0,...,Not in universe,Columbia,Foreign born- Not a citizen of U S,0,Not in universe,2,52,0,-50000,High school graduate
3,47,Private,39,36,Never married,White,All other,Female,Full-time schedules,0,...,Not in universe,United-States,Native- Born in the United States,0,Not in universe,2,52,0,-50000,Bachelors degree
4,39,Not in universe,0,0,Married-civilian spouse present,White,Mexican (Mexicano),Female,Children or Armed Forces,0,...,Not in universe,Mexico,Foreign born- Not a citizen of U S,0,Not in universe,2,0,0,-50000,10th grade

Dataset Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108497 entries, 0 to 108496
Data columns (total 26 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   age                       108497 non-null  int64
 1   class_of_worker           108497 non-null  object
 2   industry_code             108497 non-null  int64
 3   occup_code                108497 non-null  int64
 4   marital_stat              108497 non-null  object
 5   race                      108497 non-null  object
 6   hispanic                  108497 non-null  object
 7   sex                       108497 non-null  object
 8   full_or_part_time         108497 non-null  object
 9   cap_gain                  108497 non-null  int64
 10  cap_loss                  108497 non-null  int64
 11  dividends                 108497 non-null  int64
 12  filing_stat               108497 non-null  object
 13  household_summary         108497 non-null  object
 14  live_in_house_1_year_ago  108497 non-null  object
 15  num_persons_worked        108497 non-null  int64
 16  fam_members_under18       108497 non-null  object
 17  birth_country_mother      108497 non-null  object
 18  citizenship               108497 non-null  object
 19  own_business              108497 non-null  int64
 20  questionnaire             108497 non-null  object
 21  vet_benefits              108497 non-null  int64
 22  weeks_per_year            108497 non-null  int64
 23  wage_per_hour             108497 non-null  int64
 24  income                    108497 non-null  object
 25  education                 108497 non-null  object
dtypes: int64(11), object(15)
memory usage: 21.5+ MB

In [2]:
# Select Quasi-Identifiers (QIs)
quasi_identifiers = ["age", "race", "sex", "birth_country_mother", "occup_code"]

# Display QIs
print("\nSelected Quasi-Identifiers (QIs):", quasi_identifiers)
display(train_df[quasi_identifiers].head())

Selected Quasi-Identifiers (QIs): ['age', 'race', 'sex', 'birth_country_mother', 'occup_code']

   age                          race      sex birth_country_mother  occup_code
0   73                         White   Female        United-States           0
1   48   Amer Indian Aleut or Eskimo   Female        United-States          10
2   42                         White     Male        United-States           3
3   47                         White   Female        United-States          26
4   34                         White     Male        United-States          37

In [3]:
# Apply Age Generalization (Grouping into bins)
age_bins = [0, 18, 30, 45, 60, 100]
age_labels = ["0-18", "19-30", "31-45", "46-60", "60+"]
train_df["age"] = pd.cut(train_df["age"], bins=age_bins, labels=age_labels)
test_df["age"] = pd.cut(test_df["age"], bins=age_bins, labels=age_labels)

# Apply Race Generalization (Grouping Races into Broader Categories)
race_mapping = {
    "White": "Group A",
    "Black": "Group B",
    "Asian or Pacific Islander": "Group C",
    "Amer Indian Aleut or Eskimo": "Group C",
    "Other": "Group D"
}
train_df["race"] = train_df["race"].replace(race_mapping)
test_df["race"] = test_df["race"].replace(race_mapping)

# Apply Sex Generalization (Replace M/F with Non-Specific Labels)
train_df["sex"] = train_df["sex"].replace({"Male": "Person", "Female": "Person"})
test_df["sex"] = test_df["sex"].replace({"Male": "Person", "Female": "Person"})

# Apply Birth Country Generalization (Grouping by Continent)
continent_mapping = {
    "United-States": "North America",
    "Canada": "North America",
    "Mexico": "Latin America",
    "Germany": "Europe",
    "France": "Europe",
    "China": "Asia",
    "India": "Asia",
    "Philippines": "Asia",
    "South": "Unknown",
    "?": "Unknown"
}
train_df["birth_country_mother"] = train_df["birth_country_mother"].replace(continent_mapping)
test_df["birth_country_mother"] = test_df["birth_country_mother"].replace(continent_mapping)

# Apply Occupation Code Generalization (Grouping Job Codes into Categories)
occupation_mapping = {
    range(1, 200): "Tech",
    range(200, 400): "Manual",
    range(400, 600): "Service",
    range(600, 800): "Business",
    range(800, 1000): "Management",
    range(1000, 1200): "Factory",
    range(1200, 1400): "Admin",
    range(1400, 1600): "Agriculture",
    range(1600, 1800): "Transport",
    range(1800, 2000): "Security",
}
train_df["occup_code"] = train_df["occup_code"].apply(lambda x: next((v for k, v in occupation_mapping.items() if x in k), "Other"))
test_df["occup_code"] = test_df["occup_code"].apply(lambda x: next((v for k, v in occupation_mapping.items() if x in k), "Other"))

# Display transformed dataset
print("Transformed Training Data:")
display(train_df.head())

Transformed Training Data:

,age,class_of_worker,industry_code,occup_code,marital_stat,race,hispanic,sex,full_or_part_time,cap_gain,...,fam_members_under18,birth_country_mother,citizenship,own_business,questionnaire,vet_benefits,weeks_per_year,wage_per_hour,income,education
0,60+,Not in universe,0,Other,Widowed,White,All other,Female,Not in labor force,0,...,Not in universe,United-States,Native- Born in the United States,0,Not in universe,2,0,0,-50000,High school graduate
1,46-60,Private,40,Tech,Married-civilian spouse present,Amer Indian Aleut or Eskimo,All other,Female,Full-time schedules,0,...,Not in universe,United-States,Native- Born in the United States,2,Not in universe,2,52,1200,-50000,Some college but no degree
2,31-45,Private,34,Tech,Married-civilian spouse present,White,All other,Male,Children or Armed Forces,5178,...,Not in universe,United-States,Native- Born in the United States,0,Not in universe,2,52,0,-50000,Bachelors degree
3,46-60,Local government,43,Tech,Married-civilian spouse present,White,All other,Female,Full-time schedules,0,...,Not in universe,United-States,Native- Born in the United States,0,Not in universe,2,52,876,-50000,Some college but no degree
4,31-45,Private,4,Tech,Married-civilian spouse present,White,All other,Male,Children or Armed Forces,0,...,Not in universe,United-States,Native- Born in the United States,0,Not in universe,2,52,0,-50000,Some college but no degree

In [4]:
# Save the transformed datasets
train_df.to_csv("KDD_train_local_transformed.csv", index=False)
test_df.to_csv("KDD_test_local_transformed.csv", index=False)

print("Local Transformation applied and files saved successfully!")

Local Transformation applied and files saved successfully!

In [5]:
## Step 2: Testing Transformed Dataset with KNN Classifier

In [6]:
import pandas as pd

# Load the transformed datasets directly
train_df = pd.read_csv("KDD_train_local_transformed.csv")
test_df = pd.read_csv("KDD_test_local_transformed.csv")

# Display first few rows
print("Training Data:")
display(train_df.head())

print("Testing Data:")
display(test_df.head())

Training Data:

,age,class_of_worker,industry_code,occup_code,marital_stat,race,hispanic,sex,full_or_part_time,cap_gain,...,fam_members_under18,birth_country_mother,citizenship,own_business,questionnaire,vet_benefits,weeks_per_year,wage_per_hour,income,education
0,60+,Not in universe,0,Other,Widowed,White,All other,Female,Not in labor force,0,...,Not in universe,United-States,Native- Born in the United States,0,Not in universe,2,0,0,-50000,High school graduate
1,46-60,Private,40,Tech,Married-civilian spouse present,Amer Indian Aleut or Eskimo,All other,Female,Full-time schedules,0,...,Not in universe,United-States,Native- Born in the United States,2,Not in universe,2,52,1200,-50000,Some college but no degree
2,31-45,Private,34,Tech,Married-civilian spouse present,White,All other,Male,Children or Armed Forces,5178,...,Not in universe,United-States,Native- Born in the United States,0,Not in universe,2,52,0,-50000,Bachelors degree
3,46-60,Local government,43,Tech,Married-civilian spouse present,White,All other,Female,Full-time schedules,0,...,Not in universe,United-States,Native- Born in the United States,0,Not in universe,2,52,876,-50000,Some college but no degree
4,31-45,Private,4,Tech,Married-civilian spouse present,White,All other,Male,Children or Armed Forces,0,...,Not in universe,United-States,Native- Born in the United States,0,Not in universe,2,52,0,-50000,Some college but no degree

Testing Data:

,age,class_of_worker,industry_code,occup_code,marital_stat,race,hispanic,sex,full_or_part_time,cap_gain,...,fam_members_under18,birth_country_mother,citizenship,own_business,questionnaire,vet_benefits,weeks_per_year,wage_per_hour,income,education
0,46-60,Self-employed-not incorporated,4,Tech,Divorced,White,All other,Male,Children or Armed Forces,0,...,Not in universe,United-States,Native- Born in the United States,0,Not in universe,2,52,0,-50000,Some college but no degree
1,19-30,Private,4,Tech,Never married,White,All other,Female,Unemployed full-time,0,...,Not in universe,United-States,Native- Born in the United States,0,Not in universe,2,30,0,-50000,High school graduate
2,46-60,Private,37,Tech,Divorced,White,Central or South American,Female,Children or Armed Forces,0,...,Not in universe,Columbia,Foreign born- Not a citizen of U S,0,Not in universe,2,52,0,-50000,High school graduate
3,46-60,Private,39,Tech,Never married,White,All other,Female,Full-time schedules,0,...,Not in universe,United-States,Native- Born in the United States,0,Not in universe,2,52,0,-50000,Bachelors degree
4,31-45,Not in universe,0,Other,Married-civilian spouse present,White,Mexican (Mexicano),Female,Children or Armed Forces,0,...,Not in universe,Mexico,Foreign born- Not a citizen of U S,0,Not in universe,2,0,0,-50000,10th grade

In [7]:
# Check for missing values
print("\nMissing Values in Training Data:")
print(train_df.isnull().sum())

print("\nMissing Values in Testing Data:")
print(test_df.isnull().sum())

# Check data types
print("\nData Types:")
print(train_df.dtypes)

Missing Values in Training Data:
age                         0
class_of_worker             0
industry_code               0
occup_code                  0
marital_stat                0
race                        0
hispanic                    0
sex                         0
full_or_part_time           0
cap_gain                    0
cap_loss                    0
dividends                   0
filing_stat                 0
household_summary           0
live_in_house_1_year_ago    0
num_persons_worked          0
fam_members_under18         0
birth_country_mother        0
citizenship                 0
own_business                0
questionnaire               0
vet_benefits                0
weeks_per_year              0
wage_per_hour               0
income                      0
education                   0
dtype: int64

Missing Values in Testing Data:
age                            0
class_of_worker                0
industry_code                  0
occup_code                     0
marital_stat                   0
race                           0
hispanic                       0
sex                            0
full_or_part_time              0
cap_gain                       0
cap_loss                       0
dividends                      0
filing_stat                    0
household_summary              0
live_in_house_1_year_ago       0
num_persons_worked             0
fam_members_under18            0
birth_country_mother        1189
citizenship                    0
own_business                   0
questionnaire                  0
vet_benefits                   0
weeks_per_year                 0
wage_per_hour                  0
income                         0
education                      0
dtype: int64

Data Types:
age                         object
class_of_worker             object
industry_code                int64
occup_code                  object
marital_stat                object
race                        object
hispanic                    object
sex                         object
full_or_part_time           object
cap_gain                     int64
cap_loss                     int64
dividends                    int64
filing_stat                 object
household_summary           object
live_in_house_1_year_ago    object
num_persons_worked           int64
fam_members_under18         object
birth_country_mother        object
citizenship                 object
own_business                 int64
questionnaire               object
vet_benefits                 int64
weeks_per_year               int64
wage_per_hour                int64
income                      object
education                   object
dtype: object

In [8]:
# Fill missing values (if any)
train_df = train_df.fillna(train_df.median(numeric_only=True))
test_df = test_df.fillna(test_df.median(numeric_only=True))

In [9]:
# Define features and target variable
X_train = train_df.drop(columns=["income"])  # Drop target column
y_train = train_df["income"]

X_test = test_df.drop(columns=["income"])
y_test = test_df["income"]

In [10]:
import pandas as pd

# Load the preprocessed dataset
train_df = pd.read_csv("KDD_train_local_transformed.csv")
test_df = pd.read_csv("KDD_test_local_transformed.csv")

# Display first few rows before transformation
print("Before Transformation:")
display(train_df.head())

Before Transformation:

,age,class_of_worker,industry_code,occup_code,marital_stat,race,hispanic,sex,full_or_part_time,cap_gain,...,fam_members_under18,birth_country_mother,citizenship,own_business,questionnaire,vet_benefits,weeks_per_year,wage_per_hour,income,education
0,60+,Not in universe,0,Other,Widowed,White,All other,Female,Not in labor force,0,...,Not in universe,United-States,Native- Born in the United States,0,Not in universe,2,0,0,-50000,High school graduate
1,46-60,Private,40,Tech,Married-civilian spouse present,Amer Indian Aleut or Eskimo,All other,Female,Full-time schedules,0,...,Not in universe,United-States,Native- Born in the United States,2,Not in universe,2,52,1200,-50000,Some college but no degree
2,31-45,Private,34,Tech,Married-civilian spouse present,White,All other,Male,Children or Armed Forces,5178,...,Not in universe,United-States,Native- Born in the United States,0,Not in universe,2,52,0,-50000,Bachelors degree
3,46-60,Local government,43,Tech,Married-civilian spouse present,White,All other,Female,Full-time schedules,0,...,Not in universe,United-States,Native- Born in the United States,0,Not in universe,2,52,876,-50000,Some college but no degree
4,31-45,Private,4,Tech,Married-civilian spouse present,White,All other,Male,Children or Armed Forces,0,...,Not in universe,United-States,Native- Born in the United States,0,Not in universe,2,52,0,-50000,Some college but no degree

In [11]:
import pandas as pd

# Load the transformed dataset
train_df = pd.read_csv("KDD_train_local_transformed.csv")
test_df = pd.read_csv("KDD_test_local_transformed.csv")

# Print column names to confirm before applying transformation
print("Columns in Training Data:\n", train_df.columns)

# 🔹 Handle Missing Columns (Rename If Necessary)
column_mapping = {
    "occup_code": "occupation",  # 'occupation' does not exist, but 'occup_code' does
    "marital_stat": "marital_status",  # 'marital_status' does not exist, but 'marital_stat' does
}

train_df.rename(columns=column_mapping, inplace=True)
test_df.rename(columns=column_mapping, inplace=True)

# Selected Quasi-Identifiers (QIs) for local transformation
quasi_identifiers = ["education", "race", "age", "occupation", "marital_status"]

# 🔹 Ensure All QIs Exist in the Dataset
missing_columns = [col for col in quasi_identifiers if col not in train_df.columns]
if missing_columns:
    print(f"Warning: These columns are missing in the dataset: {missing_columns}")

# 1️⃣ Age Generalization (Group into Ranges)
train_df["age"] = pd.to_numeric(train_df["age"], errors="coerce")
test_df["age"] = pd.to_numeric(test_df["age"], errors="coerce")

age_bins = [0, 18, 30, 45, 60, 100]
age_labels = ["0-18", "19-30", "31-45", "46-60", "60+"]

train_df["age"] = pd.cut(train_df["age"], bins=age_bins, labels=age_labels)
test_df["age"] = pd.cut(test_df["age"], bins=age_bins, labels=age_labels)

# 2️⃣ Race Generalization (Group Different Races Together)
race_mapping = {
    "White": "Group A",
    "Black": "Group B",
    "Asian or Pacific Islander": "Group C",
    "Amer Indian Aleut or Eskimo": "Group C",
    "Other": "Group D"
}
train_df["race"] = train_df["race"].replace(race_mapping)
test_df["race"] = test_df["race"].replace(race_mapping)

# 3️⃣ Occupation Generalization (Check if 'occupation' exists first)
if "occupation" in train_df.columns:
    occupation_mapping = {
        "Tech-support": "Tech",
        "Craft-repair": "Manual",
        "Other-service": "Service",
        "Sales": "Business",
        "Exec-managerial": "Management",
        "Prof-specialty": "Professional",
        "Machine-op-inspct": "Factory",
        "Adm-clerical": "Admin",
        "Farming-fishing": "Agriculture",
        "Transport-moving": "Transport",
        "Handlers-cleaners": "Labor",
        "Armed-Forces": "Military",
        "Priv-house-serv": "Service",
        "Protective-serv": "Security",
        "Unknown": "Unknown"
    }
    train_df["occupation"] = train_df["occupation"].replace(occupation_mapping)
    test_df["occupation"] = test_df["occupation"].replace(occupation_mapping)

# 4️⃣ Marital Status Generalization (Simplifying Categories)
if "marital_status" in train_df.columns:
    marital_mapping = {
        "Never-married": "Single",
        "Married-civ-spouse": "Married",
        "Married-AF-spouse": "Married",
        "Separated": "Divorced/Separated",
        "Divorced": "Divorced/Separated",
        "Widowed": "Widowed"
    }
    train_df["marital_status"] = train_df["marital_status"].replace(marital_mapping)
    test_df["marital_status"] = test_df["marital_status"].replace(marital_mapping)

# 5️⃣ Education Generalization (Grouping Education Levels)
education_mapping = {
    "Preschool": "Low",
    "1st-4th": "Low",
    "5th-6th": "Low",
    "7th-8th": "Low",
    "9th": "Medium",
    "10th": "Medium",
    "11th": "Medium",
    "12th": "Medium",
    "HS-grad": "High",
    "Some-college": "High",
    "Assoc-acdm": "Higher Education",
    "Assoc-voc": "Higher Education",
    "Bachelors": "Higher Education",
    "Masters": "Higher Education",
    "Doctorate": "Higher Education"
}

train_df["education"] = train_df["education"].replace(education_mapping)
test_df["education"] = test_df["education"].replace(education_mapping)

# Display dataset after transformation
print("After Transformation:")
display(train_df.head())

# Save the updated transformed dataset
train_df.to_csv("KDD_train_local_transformed_updated.csv", index=False)
test_df.to_csv("KDD_test_local_transformed_updated.csv", index=False)

print("✅ Updated Local Transformation applied and files saved successfully!")

Columns in Training Data:
 Index(['age', 'class_of_worker', 'industry_code', 'occup_code', 'marital_stat',
       'race', 'hispanic', 'sex', 'full_or_part_time', 'cap_gain', 'cap_loss',
       'dividends', 'filing_stat', 'household_summary',
       'live_in_house_1_year_ago', 'num_persons_worked', 'fam_members_under18',
       'birth_country_mother', 'citizenship', 'own_business', 'questionnaire',
       'vet_benefits', 'weeks_per_year', 'wage_per_hour', 'income',
       'education'],
      dtype='object')
After Transformation:

,age,class_of_worker,industry_code,occupation,marital_status,race,hispanic,sex,full_or_part_time,cap_gain,...,fam_members_under18,birth_country_mother,citizenship,own_business,questionnaire,vet_benefits,weeks_per_year,wage_per_hour,income,education
0,NaN,Not in universe,0,Other,Widowed,White,All other,Female,Not in labor force,0,...,Not in universe,United-States,Native- Born in the United States,0,Not in universe,2,0,0,-50000,High school graduate
1,NaN,Private,40,Tech,Married-civilian spouse present,Amer Indian Aleut or Eskimo,All other,Female,Full-time schedules,0,...,Not in universe,United-States,Native- Born in the United States,2,Not in universe,2,52,1200,-50000,Some college but no degree
2,NaN,Private,34,Tech,Married-civilian spouse present,White,All other,Male,Children or Armed Forces,5178,...,Not in universe,United-States,Native- Born in the United States,0,Not in universe,2,52,0,-50000,Bachelors degree
3,NaN,Local government,43,Tech,Married-civilian spouse present,White,All other,Female,Full-time schedules,0,...,Not in universe,United-States,Native- Born in the United States,0,Not in universe,2,52,876,-50000,Some college but no degree
4,NaN,Private,4,Tech,Married-civilian spouse present,White,All other,Male,Children or Armed Forces,0,...,Not in universe,United-States,Native- Born in the United States,0,Not in universe,2,52,0,-50000,Some college but no degree

✅ Updated Local Transformation applied and files saved successfully!

In [12]:
# Convert 'age' column to string before filling missing values
train_df["age"] = train_df["age"].astype(str)
test_df["age"] = test_df["age"].astype(str)

# Fill missing age values with 'Unknown'
train_df["age"].fillna("Unknown", inplace=True)
test_df["age"].fillna("Unknown", inplace=True)

# Save the fixed dataset
train_df.to_csv("KDD_train_local_transformed_final.csv", index=False)
test_df.to_csv("KDD_test_local_transformed_final.csv", index=False)

print("✅ Final transformed files saved successfully after fixing missing values!")

C:\Users\SMZ\AppData\Local\Temp\ipykernel_15788\119697335.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train_df["age"].fillna("Unknown", inplace=True)
C:\Users\SMZ\AppData\Local\Temp\ipykernel_15788\119697335.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  test_df["age"].fillna("Unknown", inplace=True)

✅ Final transformed files saved successfully after fixing missing values!

In [13]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, classification_report
import numpy as np
import pandas as pd

# Load final transformed dataset
train_df = pd.read_csv("KDD_train_local_transformed_final.csv")
test_df = pd.read_csv("KDD_test_local_transformed_final.csv")

# Select features and target
X_train = train_df.drop(columns=["income"])  # Drop target variable
y_train = train_df["income"]  # Target variable

X_test = test_df.drop(columns=["income"])
y_test = test_df["income"]

# 🔹 **Fix Missing Values Before Encoding**
# Separate categorical & numerical columns
categorical_cols = X_train.select_dtypes(include=["object"]).columns
numerical_cols = X_train.select_dtypes(exclude=["object"]).columns

# Fill missing categorical values with "Unknown"
X_train[categorical_cols] = X_train[categorical_cols].fillna("Unknown")
X_test[categorical_cols] = X_test[categorical_cols].fillna("Unknown")

# Fill missing numerical values with mean
X_train[numerical_cols] = X_train[numerical_cols].fillna(X_train[numerical_cols].mean())
X_test[numerical_cols] = X_test[numerical_cols].fillna(X_train[numerical_cols].mean())  # Use train mean for test

# 🔹 **Ensure X_train is not empty**
if X_train.shape[0] == 0:
    raise ValueError("🚨 Error: X_train is empty after preprocessing! Check for excessive NaN handling.")

# Encode categorical variables
label_encoders = {}
for col in categorical_cols:
    le = LabelEncoder()
    X_train[col] = le.fit_transform(X_train[col])  # Fit & transform training data

    # Handle unseen categories in test data by mapping them to -1
    X_test[col] = X_test[col].apply(lambda x: x if x in le.classes_ else "Unknown")
    
    # Add "Unknown" category to the label encoder if it's missing
    if "Unknown" not in le.classes_:
        le.classes_ = np.append(le.classes_, "Unknown")
    
    # Transform test data safely
    X_test[col] = le.transform(X_test[col])

    label_encoders[col] = le  # Store encoders for inverse transform if needed

# 🔹 **Ensure No Empty Rows After Encoding**
if X_train.isnull().sum().sum() > 0 or X_test.isnull().sum().sum() > 0:
    print("⚠️ Warning: NaN values detected after encoding. Converting remaining NaNs to default values.")
    X_train.fillna(-1, inplace=True)  # Fill NaNs with -1 for safe processing
    X_test.fillna(-1, inplace=True)

# Normalize features (KNN is distance-based)
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

# Train KNN Model
knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(X_train, y_train)

# Predict on test data
y_pred = knn.predict(X_test)

# Evaluate Model
accuracy = accuracy_score(y_test, y_pred)
print(f"KNN Model Accuracy: {accuracy:.4f}")

print("\nClassification Report:")
print(classification_report(y_test, y_pred))

⚠️ Warning: NaN values detected after encoding. Converting remaining NaNs to default values.
KNN Model Accuracy: 0.9191

Classification Report:
              precision    recall  f1-score   support

     50000+.       0.59      0.30      0.40      2894
      -50000       0.94      0.98      0.96     29656

    accuracy                           0.92     32550
   macro avg       0.76      0.64      0.68     32550
weighted avg       0.90      0.92      0.91     32550

In [14]:
from sklearn.svm import SVC

# Train SVM Model
svm = SVC(kernel='rbf', random_state=42)
svm.fit(X_train, y_train)

# Predict on test data
y_pred_svm = svm.predict(X_test)

# Evaluate Model
print("SVM Accuracy:", accuracy_score(y_test, y_pred_svm))
print("\nSVM Classification Report:")
print(classification_report(y_test, y_pred_svm))

SVM Accuracy: 0.9234715821812596

SVM Classification Report:
              precision    recall  f1-score   support

     50000+.       0.79      0.19      0.31      2894
      -50000       0.93      1.00      0.96     29656

    accuracy                           0.92     32550
   macro avg       0.86      0.59      0.63     32550
weighted avg       0.91      0.92      0.90     32550

In [15]:
from sklearn.ensemble import RandomForestClassifier

# Train Random Forest Model
rf = RandomForestClassifier(n_estimators=100, random_state=42)
rf.fit(X_train, y_train)

# Predict on test data
y_pred_rf = rf.predict(X_test)

# Evaluate Model
print("Random Forest Accuracy:", accuracy_score(y_test, y_pred_rf))
print("\nRandom Forest Classification Report:")
print(classification_report(y_test, y_pred_rf))

Random Forest Accuracy: 0.9285714285714286

Random Forest Classification Report:
              precision    recall  f1-score   support

     50000+.       0.66      0.40      0.50      2894
      -50000       0.94      0.98      0.96     29656

    accuracy                           0.93     32550
   macro avg       0.80      0.69      0.73     32550
weighted avg       0.92      0.93      0.92     32550

In [18]:
# Save the final transformed datasets
train_df.to_csv("KDD_train_local_transformed_final.csv", index=False)
test_df.to_csv("KDD_test_local_transformed_final.csv", index=False)

print("✅ Updated Transformed Datasets saved successfully!")

✅ Updated Transformed Datasets saved successfully!